block vars

doctype html
html
  include ../_partials/_head

  body(class=)
    include ../_partials/_header

    include ../_partials/_navigation

    block content

    include ../_partials/_footer

    script(src='/js/bundle.min.js')
