block vars
    - var page_title = "About - subpage 1"
    - var page_class = "pag-about"
    - var page_selected = "about-subpage-1"

extends ../_layouts/_default.jade

block content

  .container
    .row
      .medium-12
        h1 About - Page one
        p Hello, you are on the About Page one
