block vars
    - var page_title = "About - subpage 2"
    - var page_class = "pag-about"
    - var page_selected = "about-subpage-2"

extends ../_layouts/_default.jade

block content

  .container
    .row
      .medium-12
        h1 About - Page two
        p Hello, you are on the About Page two
