extends _layouts/_default

block vars
    - var page_title = "About"
    - var page_class = "page-about"
    - var page_selected = "about"

block content

  .container
    .row
      .medium-12
        h1 About
        p Hello, you are on the About page
