<div class="container">
    <ul class="navigation">
        {% for key, page in navigation %}
        <li {{ activePage == key ? 'class="active"' : '' }}>
            <a href="{{ page.url }}">{{ page.title }}</a>

            {% if (page.navigation) %}
            <ul class="navigation-sub">
                {% for key, page in page.navigation %}
                <li {{ activePage == key ? 'class="active"' : '' }}>
                    <a href="{{ page.url }}">{{ page.title }}</a>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>
