block vars
    - var page_title = "Home page"
    - var page_class = "page-home"
    - var selected = "home"

extends _layouts/_default.jade

block content

  .container
    .row
      .medium-12
        p It work's
