.container
  .row
    .medium-12
      ul.navigation
        each page, key in navigation
          li(class=(page_selected === key ? "active" : ""))
            a(href=page.url)= page.title

            if (page.navigation)
              ul.navigation-sub
                each subpage, subkey in page.navigation
                  li(class=(page_selected === subkey ? "active" : ""))
                    a(href=subpage.url)= subpage.title
